
.card{
    background-color: rgba(119, 115, 115, 0.1);
    color: #fff;
}

.gift-list{
    background-color: rgba(119, 115, 115, 0.1);
    color: #fff;
    font-weight: bold;
}

.entrada{
    color: #fff;
}